<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robotic_arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import robotic_arm urdf file -->
    <xacro:include filename="$(find robotic_arm_description)/urdf/robotic_arm.xacro" />

</robot>
