<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robotic_arm">

<xacro:property name="gripper_angle" value="0.7854"/>
<xacro:property name="PI" value="3.14159"/>

<ros2_control type = "system" name = "RoboticArmSystem">
    <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>

<!-- Interfaces -->
    <joint name="base_waist_joint">
        <command_interface name="position">
            <param name = "min">-${PI/2}</param>
            <param name = "max">${PI/2}</param>
        </command_interface>
        <state_interface name="position"/>
    </joint>

    <joint name="waist_link1_joint">
        <command_interface name="position">
            <param name = "min">-${PI/2}</param>
            <param name = "max">${PI/2}</param>
        </command_interface>
        <state_interface name="position"/>
    </joint>

    <joint name="link1_link2_joint">
        <command_interface name="position">
            <param name = "min">0.0</param>
            <param name = "max">${PI}</param>
        </command_interface>
        <state_interface name="position"/>
    </joint>

    <joint name="link2_gripper_base_joint">
        <command_interface name="position">
            <param name = "min">-${PI/2}</param>
            <param name = "max">${PI/2}</param>
        </command_interface>
        <state_interface name="position"/>
    </joint>

    <joint name="right_gripper_joint">
        <command_interface name="position">
            <param name = "min">0.0</param>
            <param name = "max">${gripper_angle}</param>
        </command_interface>
        <state_interface name="position"/>
    </joint>

    <joint name="left_gripper_joint">
        <param name = "mimic">right_gripper_joint</param>
        <param name = "multiplier">1</param>
        <command_interface name="position">
            <param name = "min">-${gripper_angle}</param>
            <param name = "max">0.0</param>
        </command_interface>
        <state_interface name="position"/>
    </joint>
 </ros2_control>
    
</robot>
